@page
@model HondaDealership.Pages.Shared.IntegraModel

<h2> Honda Integra 1999</h2>
<br />
<table class="Integra">
    <tr>
        <th>
            <h3>Origins</h3>
        </th>
        <th>
            <h3></h3>
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            This Integra was sourced from the United States.
            It had come from a family that had a number of cars.
            This car was the mans GrandMothers. After the Grandmother
            had passed away the car was covered up
            and stored in the back yard for 25 years. I
            reassured the owner that it would be going to
            another great home.
        </td>
        <td>
            The car has been spray painted. Cleaned of rust and
            sealed up. It has had some minor Interior repairs and a full
            service. It has been a truly preserved classic.
        </td>
        <td>
            <img src="./WebImages/IntegraPage/Integra4.jpg"
                 class="rounded" width="390" height="250" />
        </td>
    </tr>
</table>
<div>

</div>










<head>
    <style>
        * {
            box-sizing: border-box;
        }

        .flex-column {
            float: left;
            width: 33.33%;
            padding: 5px;
        }

        /* Clearfix (clear floats) */
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
</head>
<br />
<center>
    <h3>As of July 2020 </h3>
</center>
<br />
<div class="row">
    <div id="crx1" class="flex-column">
        <img src="./WebImages/IntegraPage/Integra2.jpg"
             class="rounded float-left" alt="..." width="350" height="225">
    </div>
    <div id="crx2" class="flex-column">
        <img src="./WebImages/IntegraPage/Integra6.jpg"
             class="rounded float-md-none" alt="..." width="350" height="225">
    </div>
    <div id="crx3" class="flex-column">
        <img src="./WebImages/IntegraPage/Integra3.jfif"
             class="rounded float-right" alt="..." width="350" height="225">
    </div>
</div>
<br />
<div>
    <table class="table table-bordered" width="50%">
        <tr>

            <th width="20%" class="table-dark">Engine</th>
            <th width="20%" class="table-dark">Fuel Type</th>
            <th width="20%" class="table-dark">Bhp</th>
            <th width="20%" class="table-dark">Mpg</th>
            <th width="20%" class="table-dark">Price</th>
        </tr>
        <tr>
            <td>2L 16V</td>
            <td>Petrol</td>
            <td>179 Bhp</td>
            <td>41 Mpg</td>
            <td>£12,000</td>
        </tr>
    </table>
</div>
<br />
<table class="Eg6">
    <tr>
        <th width="33%">
            <h3>Finance</h3>
        </th>
        <th width="33%"> </th>
        <th width="33%">
            <h3>Checkout</h3>
        </th>
    </tr>
    <tr>
        <td>
            It is possible to get finance on this car.
        </td>
        <td> </td>
        <td>
            Are you interested in purchasing?
        </td>
    </tr>
    <tr>
        <td>
            Find out how...
        </td>
        <td> </td>
        <td> </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <th>Quinns Finance</th>
        <th> </th>
        <th>Buy your dream car.</th>
    </tr>
    <tr>
        <td>
            <a class="btn btn-warning button5" href="https://www.carfinance247.co.uk">Finance</a>
        </td>
        <td> </td>
        <td>
            <a class="btn btn-success button5" href="/GetEmail?Id=3">Buy Now</a>
        </td>
    </tr>
</table>
<br />
<br />
<br />