@page
@model HondaDealership.Pages.OurTeamModel
@{
}
<div class="section section-padding" data-bg-color="#f8faff">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-12" data-aos="fade-up">
               <br />
               <br />
               <div class="section-title-two mb-8">
                  <h3 class="title">Head Mechanic: Dave</h3>
               </div>
                <br />
                <br />
                <h5>Meet Good Deal Dave!</h5>
                <br />
                <p>Dave has been with us since 1999 when we first opened HondaDealership here in belfast.
                   Dave has been a real anchor to our organisation. He has been there through the good times
                    and the bad. It is safe to say HondaDealership would not be the same without our Dave.
                </p>
            </div>
                 <div class="offset-xl-1 col-xl-6 col-lg-6 col-12" data-aos="fade-up">
                 <img class="image" src="~/WebImages/OurTeamPage/LeadMechanicEdited.jpeg"
                  height="400" width="450" >
                </div>
        </div>
    </div>
</div>
<br />
<div class="section section-padding" data-bg-color="#f8faff">
    <div class="container">
        <div class="row">
                        <div class="col-xl-5 col-lg-6 col-12" data-aos="fade-up">

                 <img class="image" src="~/WebImages/OurTeamPage/MechanicEdited.jpg"
                  height="400" width="450" >
                </div>
                <div class="offset-xl-1 col-xl-6 col-lg-6 col-12" data-aos="fade-up">
               <br />
               <br />
               <div class="section-title-two mb-8">
                  <h3 class="title">Mechanic: Sebastian</h3>
               </div>
                <br />
                <br />
                <h5>This is our good friend Sebastian</h5>
                <br />
                <p>Sebastian loves Hondas. When sebastian came on board, he was young and inexperienced.
                   But his love for motor mechanics was obvious and we knew he was going to thrive here.
                   Whether it's remapping your ICU or manually lifting out your gearbox without a crane.
                   Sebastian has you covered.
                </p>
            </div>

        </div>
    </div>
</div>
<br />
<div class="section section-padding" data-bg-color="#f8faff">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-12" data-aos="fade-up">
               <br />
               <br />
               <div class="section-title-two mb-8">
                  <h3 class="title">Apprentice: Matt</h3>
               </div>
                <br />
                <br />
                <h5>Matt the pratt!</h5>
                <br />
                <p>While Matt is looking like he is focused on the job, he is probably busy
                   thinking up his next prank. Matt brings a positive energy to the team. He
                   has been learning so much in his short 18 months with us and he is going 
                   to be a lifer.
                </p>
            </div>
                 <div class="offset-xl-1 col-xl-6 col-lg-6 col-12" data-aos="fade-up">
                 <img class="image" src="~/WebImages/OurTeamPage/ApprenticeEdited.jpg"
                  height="400" width="450" >
                </div>
        </div>
    </div>
</div>