@page
@model HondaDealership.Pages.PaygateModel
@{
}

<div class="card card-body">
 <h4>This would usually be your paygate</h4>
    <ul>
      <li>HondaDealership directs you to a secure third party payment site like stripe.</li>
      <li>You make a payment with options such as card payment or paypal.</li>
      <li>Once payment is complete, you will be redirected back to HondaDealership</li>
      <li>We will confirm if your order has been proccessed</li>
  </ul>
  <br />
  <p>Please click on 'Payment Complete' to continue.</p>
  <br />
  <a class="btn btn-success" runat="server" href="/Success">Payment Complete</a>
</div></>
