@page
@model HondaDealership.Pages.SuccessModel
@{
}


<div class="card card-body">
<h3>Thank you for your order.</h3>
<br />
<h5>We have sent an email of your reciept.</h5>
<h5>We will proccess your order and give you a call in the coming days.</h5>
<br />
<br />
<h5>Have any further queries?</h5>
<p>Dont hesitate to get in touch: HondaDealershipBelfast@gmail.co.uk</p>
<br />
<p>Status: @Model.exception</p>
<p>This status report is just for the emails, as app passwords for yahoo and gmail are currently unavailable.</p>
</div>

